@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  --header-height: 5.5rem;
  --hero-height: calc(100vh - var(--header-height));
  --progressbar-left: 0;
  --progressbar-width: 0;

}

html { scroll-behavior: smooth; }
@media (prefers-reduced-motion: reduce) {
  html { scroll-behavior: auto; }
}

body {
    visibility: hidden;
    opacity: 0;
}

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:enabled,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:enabled,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:enabled,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
-webkit-text-fill-color: hsl(178, 61%, 49%);
-webkit-box-shadow: 0 0 0px 1000px #FFF inset;
box-shadow: 0 0 0px 1000px #FFF inset;
background-color: #FFF;
}

@layer components {
  .form-item--success > input,
  .form-item--success > textarea {
    @apply border-primary;
  }
  .form-item--error > input,
  .form-item--error > textarea {
    @apply border-error;
  }
  .form-item--default > input,
  .form-item--default > textarea {
    @apply border-gray-300;
  }

  .form-item--success > input {
    @apply text-primary;
  }
  .form-item--error > small {
    @apply text-error;
  }

}

/* @responsive {
    @variants hover, focus {
        .rotate-99 {
            transform: rotate(99deg);
        }
    }
}

// Don't use apply over styling components in js/react, or just to make your html look clean,
// otherwise you're just writing css again
// At most use for small highly reuseable things


@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
}

@layer components {
  .btn-blue {
    @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded;
  }
}

@layer utilities {
  .filter-none {
    filter: none;
  }
  .filter-grayscale {
    filter: grayscale(100%);
  }
}
*/
